@import '../../style/variables.less';

button,
input[type='button'] {
  &.button {
    cursor: pointer;
    outline: none;
    padding: 12px;
    background: @color-primary;
    border: 2px solid @color-primary;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    height: auto;
    white-space: nowrap;
    opacity: 2;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;

    &:hover {
      opacity: 0.9;
    }

    &.invert {
      background: white;
      color: @color-primary;
    }
  }
}
