@import '../../../style/variables.less';
@import '../../../style/font-face.less';

.header {
  border-bottom: solid 1px @color-border;
  padding: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 16px;
  max-height: 350px;
  line-height: 1.25;
}

.subtitle {
  font-weight: bold;
}

.footer {
  border-top: solid 1px @color-border;
  padding: 8px 0 0 8px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: stretch;

  button {
    flex: 1;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 730px) {
  .container-footer,
  .container-thin {
    .content {
      max-height: 100%;
    }

    .footer {
      border-top: none;
      flex-direction: column;
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 240px;
    }
  }
}
