div.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 4em;
	flex: 1;
	max-height: 100%;

	.title {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	.description {
		margin: 2em 0;
		overflow: auto;
		text-align: center;
	}
	.options {
		display: flex;
		flex-shrink: 0;
		width: 100%;
	}
	.rejectAll {
		flex: 1;
	}
	.acceptAll {
		flex: 1;
	}

	@media screen and (max-width: 730px) {
		padding: 0 2em;
	}

	@media (max-width: 370px) {
		.options {
			flex-direction: column;
			width: 75%;
			margin-bottom: 10px;
		}

		.rejectAll {
			margin-bottom: 10px;
		}
	}

	@media (min-width: 375px) {
		.rejectAll {
			margin-right: 10px;
		}
	}
}
