@import '../../../style/variables.less';

.imagePadding {
	padding-left: 10px;
}

div.intro {
// padding: 0 32px;
max-height: 100%;

	.logo {
		width: calc(calc(30px * @line-height) * 1.0);
		height: calc(calc(30px * @line-height) * 1.0);
		float: left;
	}
	.topWrapper {
		display: inline-flex;
		padding: 0 32px;

		.textWrapper {
			display: flex;
			flex-direction: column;

			.titleContainer {
				padding: 10px 0;
				font-size: 30px;
				font-weight: bold;

				.title {
					float: left;
					line-height: 1.5;
				}
			}
			.description {
				padding: 10px 10px 10px 0px;
			}
		}
		.options {
			display: flex;
			flex: 1;
			flex-direction: column;
			padding-top: 10px;

			button {
				margin: 5px;
			}
		}
	}

	.contentMessage {
		padding-right: 32px;
	}

	.rejectAll {
		width: 270px;
		margin-right: 10px;
	}

	.acceptAll {
		width: 270px;
		padding: 14px 12px !important;
	}
}

@media @smartPhonePortrait {
	.intro {
		display: flex;
		flex-direction: column;
		align-items: center;

		.topWrapper {
			display: block !important;
			padding: 5px 15px!important;

			.textWrapper {
				.titleContainer {
					margin: 0 auto;
					padding: 0px!important;
					
					.title {
						font-size: 20px;
					}
				}
				.description {
					padding: 5px 0px!important;
					
					.contentMessage {
						font-size: 16px;
						line-height: 1.0;
					}
				}
			}
			.options {
				flex-direction: row!important;
				justify-content: center;
				padding-top: 0px!important;

				button {
					width: 50%;
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}

@media @smartPhoneLandscape {
	.intro {
		.topWrapper {
			.textWrapper {
				.titleContainer {
					.title {
						font-size: 16px!important;
					}
				}
				.description {
					.contentMessage {
						line-height: 1.1!important;
					}
				}
			}
			.options {
				button {
					width: auto!important;
					height: auto!important;
				}
			}
		}
	}
}