@import '../../../style/variables';

.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.description {
  margin-bottom: 16px;
  overflow: auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.btns {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}

.footer {
  border-top: solid 1px @color-border;
  padding: 8px;
}

.container-modal {
  .description {
    text-align: center;
    flex: 3;
  }

  .btns {
    flex-direction: row;
    flex-wrap: wrap;
    button {
      flex: 1;
      margin: 6px;
    }
  }
}

.container-footer,
.container-thin {
  .description {
    text-align: left;
  }

  .btns {
    justify-content: space-around;
    flex: 1;

    button {
      margin: 8px 0;
      flex: 1;
    }
  }
}

@media screen and (min-width: 750px) {
  .container-footer,
  .container-thin {
    flex-direction: row;

    .description {
      flex: 3;
      margin-bottom: 0;
    }

    .btns {
      justify-content: flex-end;
      margin-left: 16px;

      button {
        flex: none;
      }
    }
  }
}
