div.intro {
padding: 0 32px;
max-height: 100%;

.title {
	padding: 10px 0;
	font-size: 30px;
	font-weight: bold;
}
.description {
	display: inline-flex;
	overflow: auto;
	padding: 10px;
}
.options {
	display: inline-flex;
	align-items: flex-end;
	padding: 5px;
}
.rejectAll {
	flex: 1;
	margin-right: 10px;
}
.acceptAll {
	flex: 1;
}
}
